{% extends "base.html" %}
{% block title %} TASKS - Executions {% endblock %}

{% block content %}
{% if task-name %}
<h2>{{ task-name }} Executions</h2>
{% else %}
<h2>Executed Tasks</h2>
{% endif %}

{% if executions|empty? %}
{% else %}
<ul>
    {% for execution in executions %}
    <li>
        <a href=execution/{{ execution.id }}>
            <code>{{ execution.name }}</code>
        </a>
        <!-- Can probably drop everything below here -->
        <span> - </span>
        {% ifequal execution.status ":done" %}
        <a href=execution/{{ execution.id }}>RESULT</a>
        {% endifequal %}
        {% ifequal execution.status ":pending" %}
        <a href="#" onclick=cancelTask('{{ execution.id }}');>CANCEL</a>
        {% endifequal %}
        {% ifequal execution.status ":cancelled" %}
        <span>CANCELLED</span>
        {% endifequal %}
        <!-- End drop -->
    </li>
    {% endfor %}
</ul>
{% endif %}
<a href="/tasks/">Back</a>

{% endblock %}

{% block additional-scripts %}
{% script "/assets/tasks.js" %}
{% endblock %}